<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <p v-if="seen">VUE，现在你看到我了</p>
    <input type="button" v-if="!seen" value="显示" onclick="setShow(true)" />
    <input type="button" v-if="seen" value="隐藏" onclick="setShow(false)" />
  </div>
  <script>
  var app = new Vue({
    el: '#app',
    data: {
      seen: true
    }
  })

  function setShow(ok) {
    app.seen = ok
  }
  </script>
</body>

</html>