<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue if render</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <hr>
    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>

    <hr>
    <div v-if="Math.random() > 0.5">
      Now you see me
    </div>
    <div v-else>
      Now you don't
    </div>

    <hr>
    <div v-if="type === 'A'">
      A
    </div>
    <div v-else-if="type === 'B'">
      B
    </div>
    <div v-else-if="type === 'C'">
      C
    </div>
    <div v-else>
      Not A/B/C
    </div>

    <hr>
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address">
    </template>
    <button @click='toggleLoginType'>Toggle login type</button>


    <hr>
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address" key="email-input">
    </template>
    <button @click='toggleLoginType'>Toggle login type</button>

    <!-- 不同的是带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS 属性 display。注意，v-show 不支持 <template> 元素，也不支持 v-else。-->
    <h1 v-show="ok">Hello!</h1>

    <hr>
    <ul>
      <li v-for="p in people">{{ p.name }}
        <span v-if="p.gender === 'M'">男</span>
        <span v-else>女</span>
      </li>
    </ul>

  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        ok: true,
        type: 'A',
        loginType: 'username',
        people: [{
          name: 'Tom',
          gender: 'M'
        }, {
          name: 'Lucy',
          gender: 'F'
        }, {
          name: 'Jack',
          gender: 'M'
        }]
      },
      methods: {
        toggleLoginType: function () {
          this.loginType = 'username' === this.loginType ? 'email' : 'username';
        }
      }
    })
  </script>
</body>

</html>